@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  color: #d6d6d6;
}

body{
  background-color: #181818;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.mt-lg{
  margin-top: 36px;
}

.mt-md{
  margin-top: 36px;
}

.text-center{
  text-align: center;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* estilizações input */

input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
}

input:focus {
  border-color: #41B883;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  background-color: #fff;
}

input::placeholder {
  color: #aaa;
  font-style: italic;
}

/* estilizações button */

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.btn-sm {
  border-radius: 4px;
  padding: 0rem 0.5rem;
  width: auto !important;
  font-weight: normal;
  font-size: 0.8rem;
  height: 20px;
}

button:hover {
  background-color: #4dce94;
}

button:active {
  background-color: #004080;
  transform: scale(0.98); /* Efeito de pressionado */
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Destaque ao focar */
}

/* cores */

.bg-primary{
  background-color: #41B883;
  color: #FFF;
}

.bg-secondary{
  background-color: #34495E;
  color: #FFF;
}

.bg-negative{
  background-color: #c42a2a;
  color: #FFF;
}

